<!DOCTYPE html>
<html>
<head>
	<title> Code for Palestine Yearbook </title>
	<meta name="description">
	<link rel="stylesheet" type="text/css" href="../static/homepage.css">
</head>
<body>

	<div id="main-header">
		<h1 id="main1"> Code for Palestine </h1>
		<h2 id="main2"> Gaza Summer 2018 </h2>
	</div>

	<div class="navbar">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn"> Students </button>
			<div class="dropdown-content">
				<a href="/year1">Year 1</a>
				<a href="/year2">Year 2</a>
				<a href="/year3">Year 3</a>
			</div>
		</div> 
		<a href="/faculty"> Faculty</a>
	</div>

	<br>
	<br>
	<br>


	{% block body %}


	{% endblock %}

</body>
</html>