<!DOCTYPE html>
<html>
<head>
	<title> Code for Palestine Yearbook </title>
	<meta name="description">
	<link rel="stylesheet" type="text/css" href="../static/homepage.css">
	<style type="text/css">
	
		.navbar{
			width: 50%;
			margin: auto;
		}
	</style>
		<style>


</style>
</head>
<body>

	<div id="main-header">
		<h1 id="main1"> Code for Palestine </h1>
		<h2 id="main2"> Gaza Summer 2018 </h2>
	</div>

	<div class="navbar">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn"> Students </button>
			<div class="dropdown-content">
				<a href="/yearOne">Year 1</a>
				<a href="/yearTwo">Year 2</a>
				<a href="/yearThree">Year 3</a>
			</div>
		</div> 
		<a href="/faculty"> Faculty</a>
	</div>

	<br>
	<br>
	<br>


	
</body>
</html>
{% block body %}


{% endblock %}
