{% extends "base.html" %}
{% block body %}
<html>
<head>
	<title>Faculty</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-reboot.css.map">
	<link rel="stylesheet" type="text/css" href="../static/css/popup.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<style type="text/css">
		body{
			background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		}
		.hatem, .students-raw{
			margin-top: 3em;

		}
		img{
			margin: 0 auto;
		}
		.instructors{
			width: 90%;
   			margin: 0 auto;
		}
		.faculty{
			width: 200px;
		}

	</style>
</head>
<body>
	<div class="header">
	

	</div>
	<div class="container">
	<h1 class="col-xs-1 text-center head-text">Faculty</h1>
	<div class="instructors row">
		<a class="button" href="#popup1"><img class="faculty rounded" src='../static/Images/saleem.jpg'></a>
	</div>
	<div class="hatem row" id="hatem">
		<a class="button" href="#popup3"><img class="faculty rounded" src="../static/Images/eman.jpg"></a>
		<a class="button" href="#popup12"><img class="faculty rounded" src='../static/Images/reeham.jpg'></a>
		<a class="button" href="#popup2"><img class="faculty rounded" src='../static/Images/nahed.jpg'></a>
	</div>
	<div class="students">
		<div class="row students-raw">
			<a class="button" href="#popup4"><img class="faculty rounded" src='../static/Images/ramadan.jpg'></a>
			<a class="button" href="#popup5"><img class="faculty rounded" src='../static/Images/majdy.jpg'></a>
			<a class="button" href="#popup6"><img class="faculty rounded" src='../static/Images/batrawi.jpg'></a>
		</div>

	<div class="hatem row" id="hatem">
		<a class="button" href="#popup7"><img class="pic rounded" src="../static/Images/Ammar.jpg" height="250" width="200"></a>
	</div>


	</div>
	</div>
	<div class="footer">

	</div>

		<!-- Nahed Ermana -->
	<div id="popup1" class="overlay">
		<div class="popup">
			<h2>Mohammed Saleem </h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Projects Manager at Paltel Group Foundation - Head of Operation Department (Gaza Head Quarter) 
			</div>
		</div>
	</div>
	<!-- Nahed Ermana -->
	<div id="popup2" class="overlay">
		<div class="popup">
			<h2>Nahed Abu Ermana "Abqoor"</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Nahed works hard with the students and loves to sing and dance with the students. His favorite quote is "If you were a tear in my eye I will never cry." He is most likely to dabka
			</div>
		</div>
	</div>
	<!-- Eman Sarraj -->
	<div id="popup3" class="overlay">
		<div class="popup">
			<h2>Eman Sarraj</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Eman is a director for the program. She loves her job and is a hard worker. She is loved by the students.
			</div>
		</div>
	</div>
	<!-- Reeham Ghanima -->
	<div id="popup12" class="overlay">
		<div class="popup">
			<h2>Reeham Ghanima</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Reeham is a computer engineer. She is one of the amazing mentors to Code of Palestine Program. She provides much insight and support for all three years. 
			</div>
		</div>
	</div>
	 <!-- Ramadan Al-Agha -->
	<div id="popup4" class="overlay">
		<div class="popup">
			<h2>Ramadan Al-Agha</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Photographer At Paltel.
			</div>
		</div>
	</div>

	<!-- Magdy -->
	<div id="popup5" class="overlay">
		<div class="popup">
			<h2>Majdy</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Volunteer At Paltel.
			</div>
		</div>
	</div>

	<!-- Mahmoud Batrawi -->
	<div id="popup6" class="overlay">
		<div class="popup">
			<h2>Mahmoud Batrawi</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Photographer At Paltel Group Foundation.
			</div>
		</div>
	</div>
	<!-- Ammar Lahham -->
	<div id="popup7" class="overlay">
		<div class="popup">
			<h2>Ammar Lahham</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Projects Administrator (Westbank Head Quarter)
			</div>
		</div>
	</div>




	

</body>
</html>
{% endblock %}