{% extends "base.html" %}
{% block body %}
<html>
<head>
	<title>Year 1</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-reboot.css.map">
	<link rel="stylesheet" type="text/css" href="../static/css/popup.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="icon" href="../static/Images/icon.png">

	<style type="text/css">
	body{
		background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
	}
	.hatem, .students-raw{
		margin-top: 3em;
	}
	img{
		margin: 0 auto;
	}
	.instructors{
		width: 90%;
		margin: 0 auto;
	}
	.tas{
		width: 70%;
		margin: 0 auto;
		margin-top: 3em;
	}
	.rotate90 {
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		transform: rotate(90deg);
	}
	.pic{
		width: 200px;
		height: 200px;
	}
	.block{
		display: block;
	}
</style>
</head>
<body>
	
	<div class="header">



	</div>
	<div class="container">
		<h1 class="col-xs-1 text-center head-text">Year 1</h1>
		<div class="instructors row">
			<a class="button" href="#popup1"><img class="pic rounded" id="bora" src='../static/Images/bora.jpg' ></a>

			<a class="button" href="#popup2"><img class="pic rounded" id="lily" src='../static/Images/lily.png' ></a>

		</div>
		<div class="hatem row tas">
			<a class="button" href="#popup3"><img class="pic rounded" id="bissan" src="../static/Images/bissan.jpg" ></a>
			<a class="button" href="#popup4"><img class="pic rounded" id="lama" src="../static/Images/lama.jpg" ></a>


		</div>
		<div class="students">
			<div class="row students-raw">
				<a class="button" href="#popup5"><img class="pic rounded" src='../static/Images/sofyan.jpg' ></a>
				<a class="button" href="#popup6"><img class="pic rounded" src='../static/Images/mortaja.JPG' ></a>
				<a class="button" href="#popup7"><img class="pic rounded" src='../static/Images/dareen.jpg' ></a>
			</div>
			<div class="row students-raw">
				<a class="button" href="#popup8"><img class="pic rounded" src='../static/Images/farah_shaquora.jpg' ></a>
				<a class="button" href="#popup9"><img class="pic rounded" src='../static/Images/fedaa.jpg' ></a>
				<a class="button" href="#popup10"><img class="pic rounded" src='../static/Images/hillis.png' ></a>
			</div>
			<div class="row students-raw">
				<a class="button" href="#popup12"><img class="pic rounded" src="../static/Images/maram.jpg" ></a>
				<a class="button" href="#popup13"><img class="pic rounded" src="../static/Images/sobhi.png" ></a>
				<a class="button" href="#popup14"><img class="pic rounded" src="../static/Images/aya_wadi.png" ></a>
			</div>
			<div class="row students-raw">
				<a class="button" href="#popup15"><img class="pic rounded" src="../static/Images/zaina.png" ></a>
				<a class="button" href="#popup16"><img class="pic rounded" src='../static/Images/zyan.jpg' ></a>
				<a class="button" href="#popup17"><img class="pic rounded" src='../static/Images/anas.JPG' ></a>
			</div>
			<div class="row students-raw">
				<a class="button" href="#popup18"><img class="pic rounded" src="../static/Images/farah_rok.jpg" ></a>
				<a class="button" href="#popup19"><img class="pic rounded" src='../static/Images/basma.jpg' ></a>
				<a class="button" href="#popup20"><img class="pic rounded" src="../static/Images/nour.jpg" ></a>
			</div>
			<div class="row students-raw">
				<a class="button" href="#popup21"><img class="pic rounded" src="../static/Images/farah_a.jpg" ></a>
				<a class="button" href="#popup11"><img class="pic rounded" src="../static/Images/may.jpg" ></a>
			</div>
		</div>
	</div>
	<div class="footer">

	</div>
	<!-- Popup code -->
	<div id="popup1" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Bora "El Hajj - Bora the Explora" Erden</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Bora's most memorable moment was non-consensually being thrown in the air. His funniest moment was dabka every morning-afternoon-evening. SUPERLATIVE: Camp hearthob
			</div>
		</div>
	</div>

	<div id="popup2" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Lily "Hasha" Randhawa</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Lily's most memorable moment was watching the shadow puppet stories. Her most fun moments were eating lunchs with the students. SUPERLATIVE: Most likely to swim in the ocean 
			</div>
		</div>
	</div>
	<div id="popup3" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Bissan "Rosie the Riveter" Ouda </h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Bissan loves Brad's nickname, abu- jabha. She hopes to one day travel to the  moon. SUPERLATIVE: Best Belly Dancer
			</div>
		</div>
	</div>
	<div id="popup4" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Lama "Lamoosh" Ghazali </h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Lama's most memorable moment was when Bakeza tickled khaled. Her favorite filter is the	flower crown. SUPERLATIVE: Most likely to become a famous author
			</div>
		</div>
	</div>
	<div id="popup5" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Sufyan "Sefo" Serdah</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				In 10 years, Sufyan sees himself as a dentist in a superb college. He hopes to travel to Madrid. SUPERLATIVE: Most Inseparable (With Mohammed Mourtaja)
			</div>
		</div>
	</div>

	<div id="popup6" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Mohammed "Konan" Mourtaja</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				His favorite moment at camp was all the moments with friends and specially with his best friend Hatem. His favorite quote is "The game is always on" - Sherlock Holmes. SUPERLATIVE: Most Inseparable (With Sufyan Serdah)
			</div>
		</div>
	</div>
	<div id="popup7" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Dareen "Dareen" Akkila</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Dareen's favorite snapchat filter is the flower crown one. Her favorite quote is "It's not a bad life, it's just a bad day." 💛💫 SUPERLATIVE: Best Dabka Dancer
			</div>
		</div>
	</div>

	<div id="popup8" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Farah Shaqoura</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Farah has a smile that lights up the room. She has grown a lot during this camp. SUPERLATIVE: Most likely to be everyone's friend
			</div>
		</div>	
	</div>

	<div id="popup9" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Fedaa "Fofo" Alsoufi</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Fedaa thinks the camp as whole was magnificent and it is one of the most unforgettable journeys in her life. She is crazy about travelling, but especially wants to visit Turkey. SUPERLATIVE: Most Likely to Give a Ted Talk
			</div>
		</div> 
	</div>


	<div id="popup10" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Karam "Kemor" Hillis</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Karam's favorite moment was shen bora put the hat on his head and the other students said HAJ BORA! His favorite snapchat filter is the dog filter. SUPERLATIVE: Most Instagram Followers
			</div>
		</div>
	</div>

	<div id="popup11" class="overlay" id="showpopup">
		<div class="popup">
			<h2>May "May the Month" Auda</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				May hopes to be a businesswoman and company manager. She wants to travel to Turkey. SUPERLATIVE: Best Laugh
			</div>
		</div>
	</div>
	<div id="popup12" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Maram Hemo</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Maram hopes to travel to America and Jerusalem.	Her favorite quote is "no pain no gain." SUPERLATIVE: Most Chill
			</div>
		</div>
	</div>

	<div id="popup13" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Sobhi Al Ferani</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Sobhi's favorite moments are learning at school and at camp. He loves helping other people by her work. SUPERLATIVE: Most likely to lead a successful hackathon. 
			</div>
		</div>
	</div>

	<div id="popup14" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Aya "Ayoush" Wadi</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Aya's most memorable memnt was when she first visited Jerusalem. Her funniest moment was when she was looking for her glasses and found out that she was wearing them. SUPERLATIVE: Most likely to boost team morale. 
			</div>
		</div>
	</div>
	<div id="popup15" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Zaina "Kawthar" AbuShaban</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Zaina liked making the shadow puppet presentation. Her favorite quote is "Shoot for the moon if you miss you'll land among the stars"... jk her fav quote is Cash me ousside how bout dat." SUPERLATIVE: Fastest Talker
			</div>
		</div>
	</div>
	<div id="popup16" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Zayan "Zezo" Alaraishy</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Zayan's favorite snapchat filter is the flower filter. Zayan wants to be a programmer at Google. SUPERLATIVE: Most likely to be cuter than the flower crown filter.		
			</div>
		</div>
	</div>

	<div id="popup17" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Anas Mattar</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Anas plans on starting a company. Anas' favorite quote is "If you don't like the world, change it." SUPERLATIVE: Most likely to know more code than the instructors			
			</div>
		</div>
	</div>

	<div id="popup18" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Farah "Rok" Aburokba</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Farah inspires others with her kindness. She is driven by her curiosity. SUPERLATIVE:  Most likely to start her own clothing line
			</div>
		</div>
	</div>

	<div id="popup19" class="overlay" id="showpopup">
		<div class="popup">
			<h2> Basma Kuhail </h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Basma enjoys sculpture as a creative medium and loves all facets of art. SUPERLATIVE: Most likely to be Pablo Picasso		
			</div>
		</div>
	</div>

	<div id="popup20" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Nour Mohammed</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Nour is driven by curiosity with a passion for bringing people together with his warm smile everyday. SUPERLATIVE: Most likely to brighten someone's day. 		
			</div>
		</div>
	</div>

	<div id="popup21" class="overlay" id="showpopup">
		<div class="popup">
			<h2>Farah Abo Abed</h2>
			<a class="close" href="#showpopup">&times;</a>
			<div class="content">
				Farah's most memorable momemnt is dancing dabkha with her friends. Her favorite quote is "Smiling is the solution for everything”- Erik Van. SUPERLATIVE: Most likely give the best birthday gift. 	
			</div>
		</div>
	</div>
</body>
</html>
{% endblock %}