{% extends "base.html" %}
{% block body %}
<html>
<head>
	<title>Year 1</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-reboot.css.map">
	<link rel="stylesheet" type="text/css" href="../static/css/popup.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<style type="text/css">
		body{
			background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		}
		.hatem, .students-raw{
			margin-top: 3em;
		}
		img{
			margin: 0 auto;
		}
		.instructors{
			width: 90%;
   			margin: 0 auto;
		}
		.tas{
			width: 70%;
			margin: 0 auto;
			margin-top: 3em;
		}
		.rotate90 {
		    -webkit-transform: rotate(90deg);
		    -moz-transform: rotate(90deg);
		    -o-transform: rotate(90deg);
		    -ms-transform: rotate(90deg);
		    transform: rotate(90deg);
		}
		.pic{
			width: 200px;
			height: 200px;
		}
		.block{
			display: block;
		}
	</style>
</head>
<body>
	
<div class="header">
	

	
	</div>
	<div class="container">
	<h1 class="col-xs-1 text-center head-text">Year 1</h1>
	<div class="instructors row">
		<a class="button" href="#popup1"><img class="pic rounded" id="bora" src='../static/Images/bora.jpg'></a>
		
		<a class="button" href="#popup2"><img class="pic rounded" id="lily" src='../static/Images/lily.png'></a>

	</div>
	<div class="hatem row tas">
		<a class="button" href="#popup3"><img class="pic rounded" id="bissan" src="../static/Images/bissan.jpg"></a>
		<a class="button" href="#popup4"><img class="pic rounded" id="lama" src="../static/Images/lama.jpg"></a>
		
		
	</div>
	<div class="students">
		<div class="row students-raw">
			<a class="button" href="#popup5"><img class="pic rounded" src='../static/Images/sofyan.jpg'></a>
			<a class="button" href="#popup6"><img class="pic rounded" src='../static/Images/mortaja.JPG'></a>
			<a class="button" href="#popup7"><img class="pic rounded" src='../static/Images/dareen.jpg'></a>
		</div>
		<div class="row students-raw">
			<a class="button" href="#popup8"><img class="pic rounded" src='../static/Images/farah_shaquora.jpg'></a>
			<a class="button" href="#popup9"><img class="pic rounded" src='../static/Images/fedaa.jpg'></a>
			<a class="button" href="#popup10"><img class="pic rounded" src='../static/Images/hillis.png'></a>
		</div>
		<div class="row students-raw">
			<a class="button" href="#popup12"><img class="pic rounded" src='../static/Images/maram.jpg'></a>
			<a class="button" href="#popup13"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup14"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>
		<div class="row students-raw">
			<a class="button" href="#popup15"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup16"><img class="pic rounded" src='../static/Images/zyan.jpg'></a>
			<a class="button" href="#popup17"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>
		<div class="row students-raw">
			<a class="button" href="#popup18"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup19"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup20"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>
		<div class="row students-raw">
			<a class="button" href="#popup21"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup22"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>
	</div>
	</div>
	<div class="footer">

	</div>
	<!-- Popup code -->
	<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Bora "El Hajj - Bora the Explora" Erden</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			<img class="rounded" src='../static/Images/bora_inside.jpeg'>
		</div>
	</div>
	</div>

	<div id="popup2" class="overlay">
	<div class="popup">
		<h2>Lily</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Hello Lilly 
		</div>
	</div>
</div>
	<div id="popup3" class="overlay">
	<div class="popup">
		<h2>Bissan</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Anas plans on starting a company. Anas' favorite quote is "If you don't like the world, change it."
			Most likely to know more code than the instructors
		</div>
	</div>
</div>
	<div id="popup4" class="overlay">
	<div class="popup">
		<h2>Lama</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			
		</div>
	</div>
</div>
	<div id="popup5" class="overlay">
		<div class="popup">
			<h2>Sufyan "sefo" Serdah</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				
		</div>
	</div>
</div>
	<div id="popup6" class="overlay">
		<div class="popup">
			<h2>Mohammed "Konan" Mourtaja</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				His favorite moment at camp was all the moments with friends and specially with his best friend Hatem. His favorite quote is "The game is always on" - Sherlock Holmes.	
				Most Inseparable (With Sufyan Serdah)
				<img class="rounded block" style="width: 300px;" src='../static/Images/the_best.jpg'></div>
	</div>
</div>
	<div id="popup7" class="overlay">
	<div class="popup">
		<h2>Dareen "Dareen" Akkila</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Dareen's favorite snapchat filter is the flower crown one. Her favorite quote is "It's not a bad life, it's just a bad day." 💛💫
			Best Dabka Dancer
		</div>
	</div>
</div>
		
	<div id="popup8" class="overlay">
	<div class="popup">
		<h2>Farah Shaqoura</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
		
		</div>
	</div>	
</div>
		
	<div id="popup9" class="overlay">
	<div class="popup">
		<h2>Fedaa "Fofo" Alsoufi</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Fedaa thinks the camp as whole was magnificent and it is one of the most unforgettable journeys in her life. She is crazy about travelling, but especially wants to visit Turkey .
			Most Likely to Give a Ted Talk
		</div>
	</div> 
</div>

		
	<div id="popup10" class="overlay">
	<div class="popup">
		<h2>Karam "Kemor" Hillis</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Karam's favorite moment was shen bora put the hat on his head and the other students said HAJ BORA! His favorite snapchat filter is the dog filter.
			Most Instagram Followers
		</div>
	</div>

	<div id="popup11" class="overlay">
	<div class="popup">
		<h2>Mai "May the Month" Auda</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Mai hopes to be a businesswoman and company manager. She wants to travel to Turkey.
			Best Laugh
		</div>
	</div>
		</div>
	<div id="popup12" class="overlay">
		<div class="popup">
			<h2>Maram Hemo</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Maram hopes to travel to America and Jerusalem.	Her favorite quote is "no pain no gain."
				Most Chill
			</div>
		</div>
	</div>

	<div id="popup13" class="overlay">
		<div class="popup">
			<h2>Sufyan "Sefo" Serdah</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				In 10 years, Sufyan sees himself as a dentist in a superb college. He hopes to travel to Madrid.
				Most Inseparable (With Mohammed Mourtaja)
			</div>
		</div>
	</div>

	<div id="popup14" class="overlay">
		<div class="popup">
			<h2>Sufyan "Sefo" Serdah</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				In 10 years, Sufyan sees himself as a dentist in a superb college. He hopes to travel to Madrid.
				Most Inseparable (With Mohammed Mourtaja)
			</div>
		</div>
	</div>
	<div id="popup15" class="overlay">
	<div class="popup">
		<h2>Zaina "Kawthar" AbuShaban</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Zaina liked making the shadow puppet presentation. Her favorite quote is "Shoot for the moon if you miss you'll land among the stars"... jk her fav quote is Cash me ousside how bout dat.
			Fastest Talker
		</div>
	</div>
		</div>
	<div id="popup16" class="overlay">
	<div class="popup">
		<h2>Zayan "Zezo" Alaraishy</h2>
		<a class="close" href="#">&times;</a>
		<div class="content">
			Zayan's favorite snapchat filter is the flower filter. Zayan wants to be a programmer at Google.			
		</div>
	</div>
</div>

</body>
</html>
{% endblock %}