<html>
<head>
	<title>Year 2</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-reboot.css.map">
	<link rel="stylesheet" type="text/css" href="../static/css/popup.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<style type="text/css">
		body{
			background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		}
		.hatem, .students-raw{
			margin-top: 3em;

		}
		img{
			margin: 0 auto;
		}
		.instructors{
			width: 90%;
   			margin: 0 auto;
		}

	</style>
</head>
<body>
	<div class="header">
	

	</div>
	<div class="container">
	<h1 class="col-xs-1 text-center head-text">Year 3</h1>
	<div class="instructors row">
		<a class="button" href="#popup1"><img class=" rounded" id="brad" src='http://via.placeholder.com/200x250'></a>
		
		<a class="button" href="#popup2"><img class="rounded" id="vikkie " src='http://via.placeholder.com/200x250'></a>

	</div>
	<div class="hatem row" id="hatem">
		<a class="button" href="#popup3"><img class="rounded" src="http://via.placeholder.com/200x250"></a>
		
	</div>
	<div class="students">
		<div class="row students-raw">
			<a class="button" href="#popup1"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup2"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup1"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>
		<div class="row students-raw">
			<a class="button" href="#popup1"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup1"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup1"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>
		<div class="row students-raw">
			<a class="button" href="#popup1"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup1"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup1"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>

		</div>
	</div>
	</div>
	<div class="footer">

	</div>
	<!-- Popup code -->
	<div id="popup1" class="overlay">
		<div class="popup">
			<h2>Here i am</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Nahed Abu
				Abqoor
				Faculty (find his official title??)
				Nahed loves to sing and dance with the students. His favorite quote is "If you were a tear in my eye I will never cry."
				Most likely to dabka
			</div>
		</div>
	</div>
	<div id="popup2" class="overlay">
		<div class="popup">
			<h2>Here i am</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				pop2
			</div>
		</div>
	</div>
</body>
</html>