{% extends "base.html" %}
{% block body %}
<html>
<head>
	<title>Year 2</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-reboot.css.map">
	<link rel="stylesheet" type="text/css" href="../static/css/popup.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<style type="text/css">
		body{
			background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
		}
		.hatem, .students-raw{
			margin-top: 3em;

		}
		img{
			margin: 0 auto;
		}
		.instructors{
			width: 90%;
   			margin: 0 auto;
		}

	</style>
</head>
<body>
	<div class="header">
	


	</div>
	<div class="container">
	<h1 class="col-xs-1 text-center head-text">Year 3</h1>
	<div class="instructors row">
		<a class="button" href="#popup1"><img class=" rounded" id="brad" src='http://via.placeholder.com/200x250'></a>
		
		<a class="button" href="#popup2"><img class="rounded" id="vikkie " src='http://via.placeholder.com/200x250'></a>

	</div>

	<div class="students">
		<div class="row students-raw">
			<a class="button" href="#popup3"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup4"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup5"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>
		<div class="row students-raw">
			<a class="button" href="#popup6"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup7"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup8"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>
		<div class="row students-raw">
			<a class="button" href="#popup9"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup10"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
			<a class="button" href="#popup11"><img class="rounded" src='http://via.placeholder.com/200x250'></a>
		</div>

		</div>
	</div>
	</div>
	<div class="footer">

	</div>
	<!-- Popup code -->
	<div id="popup1" class="overlay">
		<div class="popup">
			<h2>Brad "Abu Jabha" Watson</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Bakeza hopes to travel to Spain, USA, and the UK. Her favorite quote is: "Only I can change my life. No one can do it for me."♥
				SUPERALTIVE: Most likely to be on broadway
			</div>
		</div>
	</div>

		<div id="popup2" class="overlay">
		<div class="popup">
			<h2>Vicki "Kees Potato" Niu</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Bakeza hopes to travel to Spain, USA, and the UK. Her favorite quote is: "Only I can change my life. No one can do it for me."♥
				SUPERALTIVE: Most likely to be on broadway
			</div>
		</div>
	</div>


	<div id="popup3" class="overlay">
		<div class="popup">
			<h2>Bakeza "Bkbk" Diazada</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Bakeza hopes to travel to Spain, USA, and the UK. Her favorite quote is: "Only I can change my life. No one can do it for me."♥
				SUPERALTIVE: Most likely to be on broadway
			</div>
		</div>
	</div>

		<div id="popup4" class="overlay">
			<h2>Hala "Baba Habibi" Barka</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Hala's favorite moment was when we danced like brad. She hopes to visit France.	
				SUPERALTIVE: Most Fashionable
			</div>
		</div>
	</div>
	
	<div id="popup5" class="overlay">
		<div class="popup">
			<h2>Khaled "Sheko and Hind" Hindawi</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				His favorite moment was when we said we love life together. His favorite snapchat filter is the rabbit filter.
				SUPERALTIVE: Best Couple
			</div>
		</div>
	</div>
	
	<div id="popup6" class="overlay">
		<div class="popup">
			<h2>Khaled "Zakini" Zaqout</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Zakout's most embarrassing moment was getting tangled and falling in front of people. His favorite quote is “If you don't imagine, nothing ever happens at all.” ― John Green, Paper Towns
				SUPERALTIVE: Biggest coffee drinker
			</div>
		</div>
	</div>	
	
	<div id="popup7" class="overlay">
		<div class="popup">
			<h2>Mohammed "Bamia" Hijazi</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				In ten years Mohammed sees himself working at Google. His favorite quote is "I think therefore I am."
				SUPERALTIVE: Best Male Belly Dancer
			</div>
		</div>
	</div>	
	
	<div id="popup8" class="overlay">
		<div class="popup">
			<h2>Roaa "Ro2Ro2" Wadi</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Roaa hopes to become the best surgeon in the world. She wants to travel everywhere!
				SUPERALTIVE: Most Changed
			</div>
		</div>
	</div>

		<div id="popup9" class="overlay">
		<div class="popup">
			<h2>Odai "abo od" Almasri</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Odai's most memorable moment was when the instructors belly danced. Odai wants to study computer science in America at either Stanford, MIT, or Harvard.  
				SUPERALTIVE: Most likely to move create his own company
			</div>
		</div>
	</div>

		<div id="popup10" class="overlay">
		<div class="popup">
			<h2>Arwa Abudahrouj</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Arwa hopes to travel to the United Kingdom. Her most funniest moment was when Brad started dancing and singing arabic words. 
				SUPERALTIVE: Most likely to become an instructor
			</div>
		</div>
	</div>

		<div id="popup11" class="overlay">
		<div class="popup">
			<h2>Hadi "hodhod" Al-maqadma</h2>
			<a class="close" href="#">&times;</a>
			<div class="content">
				Hadi's most memorable moment was when we were dancing and singing songs for our nicknames. He wants to study medicine and to travel all over the world. 
				SUPERALTIVE: Most likely to create a new programming lanagauge
			</div>
		</div>
	</div>

</body>
</html>




{% endblock %}
